
.my-address .my-address-form p
{
    margin:10px
}

.order-address label,
.order-address select
{
    margin-bottom: 3px;
    /*margin-top: 20px;*/
    font-size: 1.2rem;
    max-width: 250px;
}
.order-address input {
    padding: 3px;
    font-size: .8rem;
}

#address {
    margin: 10px 0 10px 0;
}


/*.my-address .add-new-address-btn {*/
/*    padding: 5px;*/
/*    border: 1px solid #8D9F3E;*/
/*    border-radius: 3px;*/
/*    background: white;*/
/*}*/
/*.my-address .add-new-address-btn:hover {*/
/*    cursor: pointer;*/
/*    background: #8D9F3E;*/
/*    color:white;*/
/*}*/

/*.add-new-address-form .close-new-address-btn {*/
/*    padding: 5px;*/
/*    border: 1px solid #E25E20;*/
/*    border-radius: 3px;*/
/*    background: #E25E20;*/
/*    color:white;*/
/*    font-size: .7rem;*/
/*}*/
/*.add-new-address-form .close-new-address-btn:hover {*/
/*    cursor: pointer;*/
/*}*/
