
.my-address .my-address-form p
{
    margin:10px
}

.order-address label,
.order-address select
{
    margin-bottom: 3px;
    /*margin-top: 20px;*/
    font-size: 1.2rem;
    max-width: 250px;
}
.order-address input {
    padding: 3px;
    font-size: .8rem;
}

#address {
    margin: 10px 0 10px 0;
}

