.menu {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 90%;
}

/*.menu.blur {*/
/*    filter: blur(20px);*/
/*}*/

.menu .food-list {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding:30px;
    padding-top:10px;
    width: 100%;
  }

.toggle-meatless {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.toggle-meatless p {
    margin-left: 5px;
    font-size: .6rem;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E25E20;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: #8D9F3E;
}

/*.switch input:focus + .slider {*/
/*    box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.7);*/
/*    outline: none;*/
/*}*/

.switch input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}







/* .menu article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  } */

.menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: 0;
    margin:0;
  }


.menu .food-list-title {
    width: 100%;
    text-align: center;
    background: #8D9F3E;
    color: white;
    border-radius: 3px;
  }
.menu .cart {
    position: sticky;
    top:15px;
}

@media screen and (max-width: 800px) {
    .menu {
        justify-content: center;
        width: 100%;
    }
    .menu .food-list {
        width:60%;
        padding: 0;
    }
    .menu .cart {
        position: -webkit-sticky;
        position: sticky;
        width: 50%;
        height: fit-content;
        margin-bottom: 20px;
        margin-top: 55px;
    }

    .menu .login {
        width: 50%;
        margin: 20px 10px;
    }
}
