
.dish {
    display: flex;
    align-items: center;
    /*border: 1px solid #E25E20;*/
    border-bottom: 1px solid #E25E20;
    border-top: 1px solid #E25E20;
    border-radius: 25px;
    max-width: 100%;
    height: 100px;
    overflow: hidden;
    text-align: center;
    justify-content: space-between;
    margin:10px;
  }

.dish .dish-content {
    flex-grow: 1;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.dish .dish-content p {
    margin-left: 0;
    margin-right: 10px;
  }

.dish img {
    width: 100px;
    max-width: 20%;
    height: 80px;
    max-height: 90%;
    border-radius: 90px;
    object-fit: contain;
    margin-right: 10px;
  }

.dish ul {
    max-height: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    padding-left: 0;
    list-style-position: inside;
    align-items: center;
  }
.dish ul li {
    margin-right:5px;
  }

.dish li::marker {
    margin:0;
  }
.dish p {
    margin:3px;
  }

.dish h3 {
    margin:0;
  }
.dish .dish-buy {
    display: flex;
    justify-content: flex-start;
    margin-right: 15px;
  }
.dish .price {
    width: 100%;
    min-width: 70px;
    background: #E25E20;
    padding: 5px 10px;
    color:white;
    margin: 0;
    font-size: 11px;
  }
.dish .price-btn {
    font-weight: bold;
    width: 100%;
    background: #8D9F3E;
    padding: 10px;
    color:white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    margin-top: -2px;
  }

.dish .price-btn:hover {
    cursor: pointer;
  }

.dish .price-btn:hover {
    background: white;
    color:#8D9F3E;
    border: 2px solid #8D9F3E;
    border-top:none;
    padding: 9px;
  }

.dish .price-btn:focus {
    outline: none;
}

@media screen and (max-width: 800px) {
    .dish {
        font-size: .7rem;
        flex-direction: column;
        height: fit-content;
        text-align: center;
    }
    .dish .dish-content {
        display: flex;
        flex-direction: column;
    }
    .dish img {
        display: none;
        /*height: 80px;*/
        /*max-height: 90%;*/
        /*border-radius: 90px;*/
        /*object-fit: contain;*/
        /*margin-right: 10px;*/
    }
    .dish ul {
        max-height:fit-content;

    }

    .dish .dish-buy-order {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .dish .dish-buy {
        width: 100%;
    }
    .dish .dish-buy-order h3{
        align-self: center;
        font-size: .7rem;
    }
    .dish .dish-buy-order .price-btn{
        align-self: baseline;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding:5px;
        margin: 0;

    }
}

@media screen and (max-width: 1000px) {
    .dish {
        font-size: .7rem;
    }

}
