.profile-address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-address .add-new-address-btn {
    margin: 20px;
    padding: 5px 10px;
    background: #8D9F3E;
    border: none;
    border-radius: 6px;
    color: white;
}

.profile-address .add-new-address-btn:hover {
    cursor: pointer;
    background: white;
    color: #8D9F3E;
    border: 2px solid #8D9F3E;
    padding: 3px 8px;
}

@media screen and (max-width: 800px) {
    .profile-address-item {
        width: 80%;
    }
    .profile-address-item .profile-address-item-wrapper.region {
        max-width: 50px;
    }
    .profile-address-item .profile-address-item-wrapper.buttons svg {
        margin: 3px;
    }

    .profile-address-item-wrapper.location {
        min-width:50px
    }
}

