.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:120px auto 60px auto;
    position: relative;
}

.login .login-icon {
    background: white;
    font-size: 80px;
    color: #8D9F3E;
    box-shadow: 0 0 5px 0;
    border:1px solid #8D9F3E;
    padding: 10px;
    border-radius: 12px;
    position: absolute;
    top: -90px;
}

.login .login-form form {
    color:#8D9F3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 0;
    border-radius: 12px;
    padding: 20px;
    border:1px solid #8D9F3E;

}

.login .login-form form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.login .login-form form input {
    padding: 10px;
    width: 200px;
    border-radius: 12px;
    border:1px solid lightgrey;
    background: whitesmoke;
}

.login-form form input::placeholder {
    font-style: italic;
}

.login .login-form-btn {
    padding: 10px 30px;
    border-radius: 12px;
    border: none;
    color:white;
    font-size: .8rem;
    font-weight: bold;
    background: #8D9F3E;
    margin: 5px;

}

.login .login-form-btn:hover {
    cursor: pointer;
    background: white;
    color: #8D9F3E;
    border: 1px solid #8D9F3E;
    padding: 9px 29px;
}

input:focus::placeholder {
    opacity: .1;
}

.login .login-form form input:focus {
    outline: none;
    background: white;
    border: 2px solid #8D9F3E;
    padding:9px;
}

.invalid {
    border: 2px solid red;
}

.login-form-to-register {
    text-decoration: none;
    color: #8D9F3E;
    font-size: .6rem;
    margin: 5px;
}

@media screen and (max-width: 800px) {
   .login {
       position: static;
       width: 100%;
       padding: 5px;
   }
    .login .login-form {
        width: 100%;
    }
    .login-form input {
        max-width: 60%;
    }
    .login .login-icon {
        position: static;
    }
}
